* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --primaryColor: ;
    --secondaryColor: ;
    --highlightColor: #283890;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loading img {
    width: 150px;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#loading h2 {
    margin-top: 10px;
    color: var(--highlightColor);
}

@keyframes loading {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

/* HEADER */

header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 8px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}

#header-placeholder {
    height: 80px;
}

#logo img {
    width: 300px;
    margin-top: 10px;
}

#menu-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#beta-tester-link {
    margin-right: 15px;
    background-color: transparent;
    border: 2px solid var(--highlightColor);
    color: var(--highlightColor);
    font-weight: bold;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: block;
    text-decoration: none;
}

#beta-tester-link:hover {
    animation: pulse 500ms;
}

@keyframes pulse {
    0% { box-shadow: 0px 0px 2px 0px var(--highlightColor);}
    100% { box-shadow: 0px 0px 2px 15px rgba(0, 235, 0, 0);}
}

#menu-left a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    transition: filter 300ms;
}

#menu-left a:hover {
    filter: opacity(0.75);
}

#menu-left {
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

#menu-icon {
    transform: scale(0.6);
    cursor: pointer;
    display: none;
}

/* GALLERY */

#gallery {
    width: 100%;
    height: calc(100% - 80px);
}

#gallery img {
    width: 100%;
    height: 100%;
    filter: brightness(0.65);
    object-fit: cover;
}

#gallery-text {
    position: absolute;
    left: 100px;
    top: 200px;
    color: white;
    text-shadow: -2px 2px 5px black;
}

#gallery-text h1 {
    font-size: 6.5rem;
    line-height: 100px;
    font-style: italic;
}

#gallery-text p {
    margin-top: 15px;
    font-size: 1.2rem;
    width: 550px;
}

#gallery-next {
    position: absolute;
    left: 100px;
    bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    text-decoration: none;
}

#gallery-next img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 0px 8px rgb(20, 20, 20);
    filter: brightness(1);
}

#next-text {
    margin-left: 35px;
}

#next-text h3 {
    font-size: 1.5rem;
}

#next-text p {
    font-size: 1.1rem;
}

#next-text button {
    margin-top: 25px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

#next-text button:hover {
    animation: pulse-white 500ms;
}

@keyframes pulse-white {
    0% { box-shadow: 0px 0px 2px 0px white;}
    100% { box-shadow: 0px 0px 2px 15px rgba(0, 235, 0, 0);}
}

/* HEADER & GALLERY MEDIA QUERIES */
@media only screen and (max-width: 960px) {
    #menu-left {
        width: 250px;
    }

    #gallery-text {
        left: 65px;
        top: calc(65px + 80px);
    }

    #gallery-text h1 {
        font-size: 5rem;
        line-height: 80px;
    }

    #gallery-next {
        left: 65px;
        bottom: 65px;
    }
}

@media only screen and (max-width: 850px) {
    #menu-container {
        position: absolute;
        top: 90px;
        left: calc(50% - 175px);
        background-color: white;
        box-shadow: 0px 0px 5px black;
        border-radius: 8px;
        width: 350px;
        height: 250px;
        display: none;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
    }

    #menu-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 50%;
        margin-left: 0;
        margin-top: 10px;
    }

    #menu-container button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #menu-icon {
        display: block;
    }
}

@media only screen and (max-width: 750px) {
    #gallery-next {
        transform: scale(0.75);
        margin-left: -75px;
        margin-bottom: -25px;
    }

    #gallery-text {
        width: 80%;
        left: 10%;
    }

    #gallery-text h1 {
        font-size: 3.5rem;
        line-height: 60px;
        text-align: center;
    }

    #gallery-text p {
        width: 100%;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 540px) {
    #gallery-text h1 {
        font-size: 2.5rem;
        line-height: 45px;
    }

    #gallery-text p {
        font-size: 1rem;
    }

    #gallery-next {
        flex-direction: column;
        width: 300px;
        left: calc(50% - 150px);
        margin-left: 0;
    }

    #next-text {
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    
    #next-text h3 {
        font-size: 1.5rem;
        margin-top: 25px;
    }
    
    #next-text p {
        font-size: 1.1rem;
        margin-top: 8px;
    }
    
    #next-text button {
        margin-top: 25px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
    }
}

@media only screen and (max-height: 700px) {
    #gallery {
        height: 115%;
    }

    #gallery-next {
        margin-bottom: -200px;
    }
}

/* ABOUT PAGE */

#about {
    margin-top: 75px;
}

#about-title {
    margin-left: 100px;
}

.title h1 {
    font-size: 5rem;
    font-style: italic;
    background: linear-gradient(45deg, rgba(0,3,69,1) 0%, rgba(0,116,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline {
    width: 1200px;
    height: 8px;
    background: linear-gradient(45deg, rgba(0,3,69,1) 0%, rgba(0,116,255,1) 100%);
    margin-top: -10px;
}

#about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

#about-left {
    margin-left: 100px;
    margin-right: 100px;
}

#about-left h1 {
    margin-bottom: 20px;
}

#about img {
    width: 600px;
    box-shadow: 0px 1px 8px rgb(80, 80, 80);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* ABOUT MEDIA QUERIES */

@media only screen and (max-width: 1350px) {
    #about-title h1 {
        font-size: 4rem;
    }

    #about-title .underline {
        width: 965px;
    }

    #about img {
        width: 450px ;
    }

    #about-left h1 {
        font-size: 1.25rem;
    }

    #about-left p {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 1100px) {
    #about-title {
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    #about-title h1 {
        font-size: 3rem;
    }
    
    #about-title .underline {
        width: 725px;
        margin-left: calc(50% - 362.5px);
    }

    #about-container {
        flex-direction: column;
    }

    #about img {
        border-radius: 25px;
        margin-top: 75px;
    }

    #about-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    #about-left p {
        text-align: center;
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    #about-title .underline {
        width: 200px;
        margin-left: calc(50% - 100px);
    }

    .hide-on-850 {
        display: none;
    }

    #about-left p {
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {

    #about-left {
        width: 85%;
    }

    #about img {
        width: 300px;
    }
}

/* DEFINITION */

#definition {
    margin-top: 100px;
    width: 100%;
    height: 875px;
    background-image: url(assets/waves.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0px 0px 5px black;
}

#definition div {
    width: 45%;
    height: 300px;
    margin-top: calc(432.5px - 50px);
}

#definition h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

#definition span {
    font-style: italic;
    font-weight: normal;
    font-size: 1.75rem;
    margin-left: 10px;
}

#definition p {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 1.3rem;
}

/* DEFINITION MEDIA QUERIES */

@media only screen and (max-width: 850px) {
    #definition div {
        width: 65%;
    }
}

@media only screen and (max-width: 750px) {
    #definition div {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    #definition div {
        width: 100%;
        transform: scale(0.75);
    }
}

/* GAMES */

#games {
    width: 100%;
    height: 875px;
    background-image: url(assets/waves-2.svg);
    background-position: center;
    background-size: cover;
}

#games-title {
    position: relative;
    top: 375px;
    left: 100px;
}

#games .title {
    width: 550px;
}

#games .underline {
    width: 475px;
}

.game {
    width: 100%;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-right {
    width: 80%;
    margin-right: -5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.game img {
    width: 100%;
    height: 650px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 0px 12px black;
    object-fit: cover;
}

.game-text {
    width: 650px;
    margin-top: 35px;
}

.game-text h2 {
    font-size: 2.5rem;
    font-style: italic;
}

.game-text p {
    font-size: 1.15rem;
}

.game-left {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    margin-top: -150px;
}

.game-left h1 {
    font-size: 3.5rem;
}

.game-left p {
    width: max-content;
    transform: rotate(-90deg);
    font-size: 1.2rem;
}

.game-text button {
    margin-top: 25px;
    background-color: transparent;
    border: 2px solid var(--highlightColor);
    color: var(--highlightColor);
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.game-text button:hover {
    animation: pulse 500ms;
}

/* BETA TESTER */

#beta-tester {
    margin-top: 1900px;
    width: 100%;
    height: 875px;
    background-image: url(assets/waves.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#beta-middle {
    width: 55%;
    margin-top: 250px;
}

#beta-tester h1 {
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 4rem;
    font-style: italic;
    text-align: center;
}

#beta-description {
    color: white;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 35px;
    margin-top: -10px;
    text-align: center;
}

#mailchimp-container {
    width: 100%;
}

#contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: white;
}

#contact-info a {
    transition: filter 300ms;
}

#contact-info img {
    transform: scale(0.8);
}

#contact-info a:hover {
    filter: brightness(1.2);
}

/* FOOTER */
footer {
    background-color: white;
    box-shadow: 0px 0px 8px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    width: 300px;
}

footer a {
    color: var(--highlightColor);
    transition: filter 300ms;
}

footer a:hover {
    filter: brightness(1.2);
}